:root {
    --light-blue: #6C9BCF;
    --white: #fff;
    --sidebar-background: #f6f6f9;
    --sidebar-link-hover: rgba(132, 139, 200, 0.18);
    --sidebar-link-color: #7d8da1;
    --sidebar-link-active-bg: rgba(132, 139, 200, 0.18);
    --sidebar-link-active-color: #6C9BCF;
}
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
  
.container {
    display: flex;
    background-color: var(--sidebar-background);
    padding: 10px 20px;
    box-sizing: border-box;

}
  
.sidebar {
    width: 200px;
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 2rem 3rem var(--sidebar-link-hover);
    height: calc(100vh - 20px); 
    justify-content: flex-start; 
}
  
.sidebar:hover {
    box-shadow: none;
}
  
.sidebar a {
    display: flex;
    align-items: center;
    color: var(--sidebar-link-color);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    padding-left: 1rem;
}
  
.sidebar a:last-child {
    margin-top: auto; 
}
  
.sidebar a:hover {
    color: var(--light-blue);
    margin-left: 0.6rem;
}
  
.sidebar a.active {
    width: 200px;
    color: var(--sidebar-link-active-color);
    background-color: var(--sidebar-link-active-bg);
    margin-left: -20px;
    padding-left: 35px;
}

.sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--light-blue);
    position: absolute;
    left: 0px;
}
  
.sidebar a.active:hover {
    border-radius: 15px;
}
  
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    align-self: center;
}

.content {
    margin-left: 2.5rem;
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cards {
    display: flex;
    gap: 5rem; /* Increased gap between cards */
    margin-top: 1rem;
    justify-content: center; /* Center cards horizontally */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if necessary */
}

.project-card {
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; /* Fixed height for consistent layout */
    width: 300px; /* Fixed width for consistent layout */
}

.project-card:hover {
    box-shadow: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    margin-bottom: auto;
}

