* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
    background-color: #f6f6f9;
    padding: 10px 20px;
    box-sizing: border-box;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    height: calc(100vh - 20px); 
    justify-content: flex-start; 
}

.sidebar:hover {
    box-shadow: none;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: #7d8da1;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    padding-left: 1rem;
}

.sidebar a:last-child {
    margin-top: auto; 
}

.sidebar a:hover {
    color: #6C9BCF;
}

.sidebar a.active {
    width: 200px;
    color: #6C9BCF;
    background-color: rgba(132, 139, 200, 0.18);
    margin-left: -20px;
    padding-left: 35px;
}

.sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: #6C9BCF;
    position: absolute;
    left: 0px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    align-self: center;
}

.content {
    margin-left: 1.4rem;
    margin-top: 1.4rem;
}

.cards {
    display: flex;
    gap: 1.4rem;
    margin-top: 1rem;
}

.project-card, .client-card, .employee-card {
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 1;
}

.project-card:hover, .client-card:hover, .employee-card:hover {
    box-shadow: none;
}
