.form-btn{
    background-color: rgb(54, 202, 54);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .2s all;
}

.form-btn:hover{
    background-color: green;
    border-radius: 5px;
}