.form-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(196, 196, 173);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.1);
    width: 500px;
    border: 1px solid #d3d3d3;
}

input[type=text], input[type=password]{
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    width: 95%;
    height: 45px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
    display: block;
}
input[type=text]:focus, input[type=password]:focus{
    border:1px solid greenyellow;
}

.form-input-title{
    margin-top: 10px;
}
.form-invalid{
    color:red;
    margin-bottom: 20px;
}