.footer {
    position: relative;
    top: 50%;
    /* width: 95%; */
    background: #10182F;
    font-family: 'Inter';
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:5rem;
  }
  .footer-brand {
    background: 
      linear-gradient(to top, rgba(16, 24, 47, 0) 70%, #10182F), /* Fade to top */
      linear-gradient(to bottom, rgba(16, 24, 47, 0) 70%, #10182F), /* Fade to bottom */
      linear-gradient(to right, rgba(16, 24, 47, 0) 70%, #10182F), /* Fade to right */
      linear-gradient(to left, rgba(16, 24, 47, 0) 70%, #10182F), /* Fade to left */
      url('../assets/solar-background1.png'); /* Background image */
    background-size: fit; /* Make the background image cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    padding: 2rem 2rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .footer-info{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  
  .footer-info-cards{
    display: flex;
  }
  
  .footer-address-info, .footer-telephone-info, .footer-email-info{
    padding-left: 1rem;
  }
  .footer-info-title{
    color:#00ED64;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .footer-info-content{
    padding-top: 0.5rem;
    color: gray;
  }
  
  .footer-info-devider{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 1px;
    background-color: #00ED64;
  }
  
  .footer-logo {
    max-height: 5rem; /* Increase the maximum height */
    width: 10rem;      /* Increase the width */
    margin-bottom: 2rem;
  }
  
  .footer-simpex-logo {
    max-width: 100%; /* Ensure the logo scales proportionally */
    height: auto;    /* Maintain the aspect ratio */
    backdrop-filter: blur(2px); 
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .footer-icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .footer-icons i {
    color:  #00ED64;
    z-index: 100;
    filter:drop-shadow(0px 0px 10px white);
  }
  
  .footer-col .footer-icons i:hover  {
    color: #fff;
  }
  
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .footer-col .links {
    margin-top: 20px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  
  
  
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
  
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
  
    .footer-col form {
      display: block;
    }
  
    .footer-col form :where(input, button) {
      width: 100%;
    }
  
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }