.post-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.1);
    width: 1000px;
    border: 1px solid #d3d3d3;
    background-color: rgb(226, 218, 218);
}

.post-container textarea{
    border: 1px solid #d5d2d2;
    border-radius: 5px;
    width: 95%;
    height: 45px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
}


.post-btn{
    background-color: rgb(54, 202, 54);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .2s all;
}

.post-btn:hover{
    background-color: green;
    border-radius: 5px;
}


.post-index-container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post-created-at {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}
.post-body {
    font-size: 18px;
}
.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.post-likes, .post-dislikes {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.post-likes:hover, .post-dislikes:hover {
    background-color: #ccc;
}

.post-likes {
    float: left;
    background-color: rgb(245, 240, 233);
    color: green;
}

.post-dislikes {
    float: right;
    background-color: rgb(245, 240, 233);
    color: red;
}
