:root {
    --light-blue: #6C9BCF;
    --white: #fff;
    --sidebar-background: #f6f6f9;
    --sidebar-link-hover: rgba(132, 139, 200, 0.18);
    --sidebar-link-color: #7d8da1;
    --sidebar-link-active-bg: rgba(132, 139, 200, 0.18);
    --sidebar-link-active-color: #6C9BCF;
}
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
  
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
  
.container {
    display: flex;
    height: 100%;
    background-color: var(--sidebar-background);
    padding: 10px 20px;
    box-sizing: border-box;
}
  
.sidebar {
    width: 200px;
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 2rem 3rem var(--sidebar-link-hover);
    height: calc(100vh - 20px); 
    justify-content: flex-start; 
}
  
.sidebar:hover {
    box-shadow: none;
}
  
.sidebar a {
    display: flex;
    align-items: center;
    color: var(--sidebar-link-color);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    padding-left: 1rem;
}
  
.sidebar a:last-child {
    margin-top: auto; 
}
  
.sidebar a:hover {
    color: var(--light-blue);
    margin-left: 0.6rem;
}
  
.sidebar a.active {
    width: 200px;
    color: var(--sidebar-link-active-color);
    background-color: var(--sidebar-link-active-bg);
    margin-left: -20px;
    padding-left: 35px;
}

.sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--light-blue);
    position: absolute;
    left: 0px;
}
  
.sidebar a.active:hover {
    border-radius: 15px;
}
  
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    align-self: center;
}

.content {
    margin-left: 2.5rem;
    margin-top: 1.4rem;
}

.cards {
    display: flex;
    gap: 5rem; /* Increased gap between cards */
    margin-top: 1rem;
    justify-content: center; /* Center cards horizontally */
    flex-wrap: wrap; /* Allows cards to wrap to the next line if necessary */
}

.project-card, .client-card, .employee-card {
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; /* Fixed height for consistent layout */
    width: 250px; /* Fixed width for consistent layout */
}

.project-card:hover, .client-card:hover, .employee-card:hover {
    box-shadow: none;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    margin-bottom: auto;
}

.number {
    align-self: flex-end;
}

.statistic {
    margin-top: 1.4rem;
}

.customer{
    margin-top: 1.4rem;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; /* Add margin below the controls */
    padding: 20px;
}

.customer h2 {
    margin-bottom: 0.8rem;
}

.customer-card{
    background-color: #fff;
    border-radius: 15px;
    padding-top: 20px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

}

.customer-card:hover{
    box-shadow: none;
}

/*searchbar*/
.search {
    flex: 1; /* Make the search bar take up available space */
    margin-right: 10px; /* Add spacing between search and add button */
}

.search label {
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px; /* Increased left padding to make room for the icon */
    font-size: 18px;
    outline: none;
    border: 1px solid var(--sidebar-link-color);
}

.search-icon {
    position: absolute;
    left: 10px;
    color: var(--sidebar-link-color);
    font-size: 24px;
    pointer-events: none; /* This ensures the icon doesn't interfere with input interactions */
}

/*add button*/
.add-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    margin-bottom: 1rem; /* Add margin below the button */
}

.add-button, .button-icon, .button-text {
    transition: all 0.3s;
    border-radius: 15px;
}

.add-button .button-text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.add-button .button-icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button .svg {
    width: 30px;
    stroke: #fff;
}

.add-button:hover {
    background: #34974d;
}

.add-button:hover .button-text {
    color: transparent;
}

.add-button:hover .button-icon {
    width: 148px;
    transform: translateX(0);
}

.add-button:active .button-icon {
    background-color: #2e8644;
}
  
.add-button:active {
    border: 1px solid #2e8644;
}


.customer-table {
    background-color: #fff;
    width: 100%;
    padding: 1.8rem;
    text-align: center;
    border-radius: 2rem;
    transition: all 0.3s ease;
    border-collapse: collapse; /* Ensures there are no gaps between cells */
    border-spacing: 0; /* No extra spacing between cells */
}

.customer-table thead th, .customer-table tbody td {
    padding: 5px 10px; /* Reduced padding for smaller row height */
    line-height: 1.1; /* Reduced line height */
}

.customer-table thead th {
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    text-align: center;
}

.customer-table tbody td {
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #677483;
}

.customer-table tbody tr {
    transition: background-color 0.3s ease;
}

.customer-table tbody tr:hover {
    background-color: var(--sidebar-link-active-bg);
}

.customer-table tbody tr:last-child {
    margin-bottom: 0; /* Remove margin for the last row */
    border: none;
}

.customer-table img.profile-image {
    width: 25px; /* Adjust as needed */
    height: 25px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
}

span.highlight {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}

span.in-stock {
    background-color: green;
}

span.out-of-stock {
    background-color: red;
}

span.low-stock {
    background-color: orange;
}

/*view button*/
.view-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 10px; /* Reduced radius for smaller button */
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 10px; /* Reduced font size */
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 20px; /* Reduced height */
    min-width: 0;
    outline: none;
    padding: 4px 8px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
}

.view-button:disabled {
    pointer-events: none;
}

.view-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.view-button:active {
    box-shadow: none;
    transform: translateY(0);
}
  
/*supplier section*/
.suppliers {
    margin-top: 1.4rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.suppliers h2 {
    margin-bottom: 1rem;
}

.supplier-cards {
    display: flex;
    gap: 2rem; /* Increase the gap between supplier cards */
    flex-wrap: nowrap; /* Allows cards to wrap to the next line if necessary */
    justify-content: space-between;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; /* Space between the icons */
}

.supplier-card {
    position: relative;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.33% - 1.33rem); /* Three cards per row with gap */
    margin-top: 1.4rem;
    margin-bottom: 1rem; /* Adds space between rows */
    box-sizing: border-box;
    flex-shrink: 0;
}

.supplier-card:hover {
    box-shadow: none;
}

.supplier-profilepic {
    width: 150px;
    height: 150px; /* Consistent height for images */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    align-self: center;
}

.name {
    font-size: 1.2rem; /* Adjust as needed */
    align-self: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.description {
    margin: 0.5rem 0;
    color: #677483;
}

.supplier-viewbutton{
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 10px; /* Reduced radius for smaller button */
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 10px; /* Reduced font size */
    font-weight: 600;
    line-height: normal;
    margin-top: 2rem;
    min-height: 20px; /* Reduced height */
    min-width: 0;
    outline: none;
    padding: 4px 8px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
    align-self: center;
}

.supplier-viewbutton:disabled {
    pointer-events: none;
}

.supplier-viewbutton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.supplier-viewbutton:active {
    box-shadow: none;
    transform: translateY(0);
}