/* CSS LIBRARY */

/* COMPONENTS */
@import url('components/topnavbar_styles.css');
@import url('components/form_styles.css');
@import url('components/button_styles.css');

/* FONTS */
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

body{
    margin: 0;
    font-family: Poppins-Regular;
    font-size: small;
    text-align: left;
}