
:root {
    --theme-color: #7AB87A;
    --white: #fff;
    --sidebar-background: #F3F8F3;
    --sidebar-link-hover: rgba(122, 184, 122, 0.18);
    --sidebar-link-color: #6B8E6B;
    --sidebar-link-active-bg: rgba(122, 184, 122, 0.18);
    --sidebar-link-active-color: #4C724C;
    --text-color: #333;
    --success-color: #6fd649;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--sidebar-background);
}

.leaveRecords-container {
    display: flex;
    min-height: 100vh;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 2rem 3rem var(--sidebar-link-hover);
    /* height: calc(100vh - 20px); */
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    z-index: 1000;
    text-decoration: none;
    height: 100vh;
    min-height: 100vh;
}

.sidebar:hover {
    box-shadow: none;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: var(--sidebar-link-color);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    transition: all 0.3s ease;
    width: 100%;
    padding-left: 1rem;
    text-decoration: none;
}

.sidebar a:last-child {
    margin-top: auto;
}

.sidebar a:hover {
    color: var(--theme-color);
    margin-left: 0.6rem;
}

.sidebar a.active {
    width: 100%;
    color: var(--sidebar-link-active-color);
    background-color: var(--sidebar-link-active-bg);
    margin-left: -20px;
    padding-right: 0px;
    padding-left: 35px;
}

.sidebar a.active::before {
    content: "";
    width: 6px;
    height: 18px;
    background-color: var(--theme-color);
    position: absolute;
    left: 0px;
}

.sidebar a.active:hover {
    border-radius: 15px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    align-self: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    color: var(--sidebar-link-color);
}

.main-content {
    margin: 10px;
    height: 100vh;
    flex-grow: 1;
    padding: 0px;
    overflow-y: auto;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.leaveRecords {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}


.container {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.leaveRecords-table-container {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.leaveRecords-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--theme-color);
    color: var(--white);
}

.leaveRecords-table-header h2 {
    margin: 0;
}

@media (max-width: 768px) {
    .popup {
        width: 90%;
        max-width: 400px;
        padding: 0 5px 5px;
    }

    .popup h2 {
        font-size: 28px;
        margin: 20px 0 10px;
    }
}

@media (max-width: 480px) {
    .popup {
        padding: 0px;
    }

    .popup h2 {
        font-size: 24px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: var(--theme-color);
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.status-button {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.status-button.approved {
    background-color: var(--success-color);
    color: var(--white);
}

.status-button.not.approved {
    background-color: var(--danger-color);
    color: var(--white);
}

.status-button.pending {
    background-color: var(--warning-color);
    color: var(--white);
}

.action-btn {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    margin-right: 5px;
}

.action-btn:hover {
    transform: translateY(-2px);
}

.add-comment-btn {
    background-color: var(--theme-color);
    color: var(--white);
}

.add-comment-btn:hover {
    background-color: #69a769;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.popup {
    width: 400px;
    background: var(--white);
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: var(--text-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1001;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    /* background: var(--success-color); */
    /* color: var(--white); */
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.popup input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .leaveRecords-container {
        flex-direction: column;
    }

    .sidebar {
        /* position: fixed; */
        left: -250px;
        top: 0;
        bottom: 0;
        z-index: 999;
        border-radius: 0;
        height: 100vh;
        margin: 0;
    }

    .sidebar.active {
        left: 0;
    }

    .menu-toggle {
        display: block;
    }

    .main-content {
        margin-left: 0;
        padding-top: 60px;
    }

    .leaveRecords {
        grid-template-columns: 1fr;
    }

    .leaveRecords-table-container {
        overflow-x: auto;
    }

    .popup {
        width: 90%;
        max-width: 400px;
    }

    .completion {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .leaveRecords-table-header {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .leaveRecords-table-header h2 {
        text-align: center;
    }
}

textarea {
    width: 100%;
    min-height: 40px; /* Minimum height */
    max-height: 200px; /* Optional: Maximum height */
    resize: none; /* Prevent manual resizing */
    overflow-y: hidden; /* Hide the scrollbar */
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0px;
}

.close-icon:hover {
    color: #d6cdcd;
    transform: scale(1.1);
}

.popup-buttons {
    display: flex;
    gap: 5px;
}

.cancel-btn {
    background-color: #f2f2f2;
    color: gray;
}

.add-btn {
    background-color: var(--success-color);
    color: var(--white);
}

.icon-button {
    background: var(--theme-color);
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    transition: transform 0.2s;
}

.icon-button:hover {
    transform: scale(1.2);
}

.icon-button i {
    font-size: 1.2rem;
}

.popup-icon {
    font-size: 24px;
    color: #28a745;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;  /* Removed padding */
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;  /* Added flex */
    align-items: center;
    justify-content: right;
    width: 24px;  /* Width to match icon size */
    height: 24px; /* Height to match icon size */



    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}

.close-button:hover {
    opacity: 0.7;
}

.material-icons {
    justify-content: right;
    font-size: 24px;  /* Icon size */
    color: #333;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;  /* Removed padding */
    position: absolute;
    
    display: flex;  /* Added flex */
    align-items: center;
    justify-content: right;
    width: 24px;  /* Width to match icon size */
    height: 24px; /* Height to match icon size */



    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}


.close-icon {
    right: 10px;
    top: 10px;
}


.fa-eye {
    color: white;
}

.update-btn {
    background-color: var(--success-color);
    color: var(--white);
}

.comment-container {
    background: #f8f8f8;
    border-radius: 6px;
    padding: 15px;
    margin-top: 10px;
}

.comment-text {
    color: #333;
    line-height: 1.5;
    word-wrap: break-word;
    font-size: 14px;
}

.center-align {
    text-align: center; /* Horizontally center-align text */
    vertical-align: top; 
  }

  
.leaveRecords-table-container th {
    text-align: center;
}

.left-align {
    text-align: left;
    vertical-align: middle;
}

.record-info{

    width: 100%;

}

.info-group{
    padding: 12px;
    width: 100%;
    display: flex;
    border-bottom: #a19e9e solid 1px;
    border-width: 2px;

} 

.info-group label{
    min-width: 120px;
    width: 120px;
    display: flex;
    font-weight: 600;
}

.indetail .info-group:last-child {
    border-bottom: none;
}

.details {
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
}

.back-button {
    background-color: #7AB87A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.comments {
    background-color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}


.record-details-container {
    
    border-radius: 10px;
   
    overflow: hidden;
    margin-bottom: 20px;
}

.comments-section {
    padding: 10px;
}

.comment {
    padding: 12px;
    
}

.comment-actions {
    margin-top: 10px;
}

.add-comment {
    padding: 12px;;
}

.comment p {
    white-space: pre-wrap;    /* Preserves whitespace and wraps */
    word-wrap: break-word;    /* Breaks long words */
    overflow-wrap: break-word; /* Modern version of word-wrap */
    background-color: #f0ebeb;
    padding: 10px;
    border-radius: 5px;
}

.fa-paper-plane {
    color: white;
    font-size: 20px;
}

.fa-trash-alt {
    color: white;
    font-size: 20px;
}

.comment-action-button {
    border: none;
    padding: 5px;
    background-color: var(--theme-color);
    color: var(--white);
    border-radius: 5px;
}

.add-comment textarea {
    border: 1px solid #ccc;  /* Add default border */
}

.add-comment textarea:focus {
    outline: none;
    border: 1px var(--theme-color) solid;
}

.fa-records {
    color: var(--theme-color);
    font-size: 20px;
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    background-color: #f2f2f2;
    padding: 0px;
}

.page-info {
    background-color: #4C724C;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination button {
    display: flex;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var(--theme-color);
    color: white;
    cursor: pointer;
    align-items: center;
}

.page-link {
    color: var(--theme-color);
}

.indetail {
    background-color: #faf8f8;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.completion-button {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

.completion-button.completed {
    background-color: var(--success-color);
    color: var(--white);
}

.completion-button.incomplete {
    background-color: var(--danger-color);
    color: var(--white);
}

.completion-button.in_progress {
    background-color: var(--warning-color);
    color: var(--white);
}

.task-details {
    background-color: #ecf5ed;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.approve-button {
    background-color: var(--theme-color);
    color: var(--white);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: right;
}

.reject-button {
    background-color: red;
    color: var(--white);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.approval {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    margin-right: 15px;
}