* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    /* max-width: 1200px; */
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    box-sizing: border-box;

}
.container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #ecf7f2; */
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
    padding: 2rem; 
    margin-bottom: 2rem;

}
.main-content {
    flex: 3;
    min-width: 300px;

}
.product-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.get-quote-btn {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0, 179, 63);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 20px;
    cursor: pointer;
  }
  
.get-quote-btn .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .get-quote-btn:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .get-quote-btn:hover .icon {
    transform: translate(4px);
  }
  
  .get-quote-btn:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .get-quote-btn::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
.product-image {
    flex: 1;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}
.product-image img {
    max-width: 100%;
    height: auto;
}
.product-info {
    flex: 1;
    min-width: 300px;
    margin-left: 2rem;
}
h1 {
    font-size: 40px;
    margin-bottom: 10px;
    min-width: 100px;
}
.product-description{
    max-width: 700px;
    color: grey;
    
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.price {
    font-size: 35px;
    color: #e73c3c;
    margin-bottom: 20px;
    font-weight: bolder;
    background-color: rgb(3, 248, 142);
    border-radius: 2rem;
    max-width:350px;
    text-align: center;
}

.warrenty{
    color: #ec5968;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
}



.tabs {
    margin-top: 20px;
}
.tab-buttons {
    display: flex;
    margin-bottom: 20px;
    margin-top: 2rem;
}
.tab-button {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
}
.tab-button.active {
    background-color: #3498db;
    color: #fff;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
    margin-top:2rem ;
    margin-bottom: 2rem;
}

.equipment-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    border-radius: 2rem;
}

.equipment-table th, .equipment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.equipment-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.equipment-table td a {
    color: #007bff;
    text-decoration: none;
}

.equipment-table td a:hover {
    text-decoration: underline;
}

.footer{
    display: block !important;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 2rem;
        margin: 0;
    }
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-info h1{
        margin-top: 2rem;
        font-size: 20px;
    }

    .get-quote-btn-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .main-content {
        order: 1;
    }


}